@import url(imagenes.css);
@import url(nav.css);
@import url(sidebar.css);
@import url(section.css);
@import url(footer.css);
@import url(tablas.css);

*{
    margin: 0;
    font-family: helvetica;
}

body{
    background-color: #AE8A69;  
}
/*
body,td,th {
    
    text-align: center;
}*/

header {
    background: url('../img/fondo1.jpg') no-repeat;
    height: 170px;
    width: 100%;
    color: #C59947;
}

header h1 {
    text-align: left;
    padding: 50px 0 10px 5px;
}
header p {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0 10px 5px;
}

.content-botones
{
    padding: 25px;
}

p
{
    text-align: left;
    padding-left: 15px;
    font-size: larger;
}

label
{
    font-size: 17px;
}
.campo-option
{
    margin-left: 15px;
    height: 20px;
    border-radius: 2px;
}
.btn
{
    height: 30px;
    border-radius: 5px;
    margin: 20px;
    width: 100px;
}

.mensaje-error{
    color: red;
}
a:link   
{   
 text-decoration:none;
 color: black;
} 

.div-usuarios
{
    margin-left: 2%;
    height: 400px;
    overflow: auto;
}

.tips{
    color: blue;
    font-size: 12px;
    font-style: italic;
}
.div-estadisticas{
    display: table-cell;
    text-align: center;
}
.div-estadisticas-in{
    display:table;
    text-align: center;
}

.div-error{
    color: red;
}
.buscar-alumno{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.buscar{
    margin: 20px;
}
@media(min-width: 800px){
    header h1 {
        font-size: 30px;
    }
    header p {
        font-size: 20px;
        position: relative;
    }
}
@media(min-width: 1025px){
    header h1 {
        font-size: 40px;
        padding: 40px 0 10px 5px;
    }
    header p {
        font-size: 30px;
    }
}