.contenedor-botones{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.botones{
	margin-top: 10px;
	margin-left: 5%;
}
.botones img{
	width: 190px;
	height: 190px;
	border-radius: 50%;
	border: 7px solid #591a15;
	background-color: #d4b15f;
}

#img-1{
	width: 98%;
	height: 98%;
}
#img-2{
	width: 175px;
}

@media(min-width: 800px){
	.contenedor-botones{
		margin-bottom: 10px;
	}
	.botones{
	margin-left: 10%;
	}
	.botones img{
		width: 210px;
		height: 210px;
		border-radius: 50%;
		border: 7px solid #591a15;
		background-color: #d4b15f;
	}
	#img-1{
		width: auto;
		max-width: 550px;
	}
	#img-2{
		width: auto;
		height: auto;
	}
}
@media(min-width: 1025px){
	.botones img{
		width: 230px;
		height: 230px;
	}
	.botones{
		margin-bottom: 10px;
	}
	.botones a h2{
		font-size: 20px;
	}
	#img-1{
		max-width: auto;
	}
}