.contenedor-botones{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.botones{
	margin-top: 10px;
	margin-left: 10%;
}
.botones img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 7px solid #591a15;
	background-color: #d4b15f;
}
.botones h2{
	font-family: helvetica;
}
@media(min-width: 1050px){
	.botones{
	margin-top: 10px;
	margin-left: 10%;
	}
	.botones img{
		width: 210px;
		height: 210px;
		border-radius: 50%;
		border: 7px solid #591a15;
		background-color: #d4b15f;
	}
	.botones h2{
		font-family: helvetica;
	}
}